<%
user = User.find(session[:user_id]) %>
<html>
<body>
	<div id = "container">
		<div id = "main">
			<div id = "topImage" style="height: 150px; width: 100%;">
				<div id = "nameInfo" style="height: 50px; width: 100%">
					<p class = "name"> Waves with Friends </p>
					<p id = "subhead">Stanford, CA </p>

				</div>
			</div>
			<div id = "grey" style="height: 320px; width: 100%;">
				<p class = "circleHeader">MY GROUPS (<a href="/circle/new"><img src="/assets/blackplus.png" class="plusgroup"/></a>)</h1>
			    <ul class="allCircles">
			    	<% num = 0 %>
			    	<% for circle in user.get_circles %>
			    		<li class="circle">
								<span class = "grayBox"><%= circle.name.upcase %>&nbsp;&nbsp;<a id="del_<%= num %>" href="#">Delete</a>&nbsp;
								<a id="mod_<%= num %>" href="#">Modify</a></span>
								<a class="changed" href="/circle/view?id=<%= circle.id %>">
								<img src="/assets/hiking.jpg" />
								</a>
								<input type="hidden" id="circle_<%= num %>" value="<%= circle.id %>"></input>
							</li>
							<% num += 1 %>
							<br/>
			    	<% end %>
			    	<!--
					<li class="circle">
						<span class = "grayBox">HIKING</span>
						<a class="changed" href="friendList">
							<img src="/assets/hiking.jpg" />
						</a>

					</li>
					<li class="circle">
						<span class = "grayBox1">FOOD</span>
						<a class="changed" href="friendList">
							<img src="/assets/food.jpg" />
						</a>
					</li>
					<li class="circle">
						<span class = "grayBox2">ARTSY</span>
						<a class="changed" href="friendList">
							<img src="/assets/artsy.jpg" />
						</a>
					</li>
					<li class="circle">
						<span class = "grayBox3">SMART</span>
						<a class="changed" href="friendList">
							<img src="/assets/book.jpg" />
						</a>
					</li>
				-->
				</ul>
				<span class="seeya"><a class="yes" href="/">BACK</a></span>
			</div>
		</div>
	</div>

<script>
	$(document).ready(function(){
		var a=document.getElementsByTagName("a");
		for(var i=0;i<a.length;i++){
  		  a[i].onclick=function(){
    		    window.location=this.getAttribute("href");
      		  return false;
    		}
		}

		$("[id^=del]").click(function(){
  		var selfid = this.id;
  		var num = selfid.split("_")[1];
  		var selector = "#circle_" + num;
  		var val = $(selector).val();
  		console.log(val);
  		$.get('/circle/delete', {id: parseInt(val)}, function(data){
				if(data == "OK"){
					console.log("circle successfully deleted!");
					window.location = "/circle/view_all";
				} else {
					console.log("error deleting circle!");
				}
			});
		});

		$("[id^=mod]").click(function(){
  		var selfid = this.id;
  		var num = selfid.split("_")[1];
  		var selector = "#circle_" + num;
  		var val = $(selector).val();
  		window.location.href = "/circle/modify?id=" + val;
		});

		$("#newcircle").click(function(){
			window.location.href = "/circle/new";
		});
	});
</script>
</body>
</html>