<!DOCTYPE html>
<html>
<head>
  <title>Wave</title>
  <meta charset="UTF-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ORYECMd4dAYIgoYBdcvs1XL2oaEHPpo&sensor=true"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :pagejs %>
</head>
<body>
  <ul id="navigationTop">
  <li><a href="/">HOME</a></li>
  <li><a href="/loc_wave_list">NEARBY WAVES</a></li>
  <li><a href="/soc_mood_picker">SOCIAL WAVES</a></li>
  <li><a href="/soc_wave_list/callback">GROUPS</a></li>
</ul>
<%= yield %>

</body>
</html>
